
.profile-wrapper{
    .profile-image{
        height: 10rem;
        width: 10rem;
    }
    
    .btn-pencil{
        background-color: #e2e2e2 !important;
        border-color: #e2e2e2 !important;
    }
    
    .row{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}