
.profile-image{
    height: 200px;
    width: 200px;
}

h5{
    font-weight: 500 !important;
}

.label{
    opacity: 0.6;
}

.user-info {
    background-color: white;
    float: left;
    width: 60vw;
    height: 200px;
}

.btn-pencil{
    background-color: #e2e2e2 !important;
    border-color: #e2e2e2 !important;
}
