.asset-detail{
    h3, h4, span {
        font-family: Poppins;
        font-weight: 500 !important;
    }
    
<<<<<<< HEAD
    // .detail-option{
    //     border-bottom: 0.3rem solid #ff7b4b;
    // }
    
    // .disabled{
    //     opacity: 50%;
    //     border: none;
    // }
=======
    .detail-option{
        border-bottom: 0.3rem solid #ff7b4b;
    }
    
    .disabled{
        opacity: 50%;
        border: none;
    }
>>>>>>> dev-nawa-2
}