.c_about_us{
    width: 100%;
    text-align: center;
    div{
        border-top: .5rem dashed #ff7b4b;
        padding : 2.5rem 0;
        &:first-child{
            border-top: none;
            padding-top: 0;
        }
    }
    .section_dt{
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
            text-shadow: 0 0 5px rgb(255, 255, 255),
            0 0 10px rgb(255, 255, 255),
            0 0 15px #ff7b4b,
            0 0 20px #ff7b4b;
            margin-top: 2rem;
            @media only screen and (max-width: 790px) {
                grid-template-columns: 1fr 1fr;
            }
        }
        img{
            border-radius: 50%;
            height: auto;
            width: 8rem;
            object-fit: contain;
            box-shadow: 0 0 5px rgb(255, 255, 255),
            0 0 10px rgb(255, 255, 255),
            0 0 15px rgba(0, 0, 0, 1);
        }
    }


    .section_sponsor{
        img{
            width: 80%;
        }
    }

    .section_people{
        ul{
            padding: 0;
        }
        li{
            list-style: none;
        }
    }
}