.app-icon{
    background-image: url("../../assets/pictures/icon.png") 0 0;
    float: left;
    width: 150px;
    height: 100px;
}

.app-foto{
    background-image: url("../../assets/pictures/foto.png") 0 0;
    float: right;
    width: 150px;
    height: 100px;
}

.app-logo{
    background-image: url("../../assets/pictures/logo_horizontal.png") 0 0;
    float: left;
    width: 250px;
    height: 70px;
}

.pencil{
    background-image: url("../../assets/pictures/pencil.png") 0 0;
    float: right;
    width: 50px;
    height: 50px;
}

.panah{
    background-image: url("../../assets/pictures/panah.png") 0 0;
    float: right;
    width: 10px;
    height: 10px;
}

.user-data{
    float: left;
}

.log-btn{
    background-color: #F85E5E;
    float: right;
}

.app-icon img{
    float: left;
    width: 100px;
    height: 100px;
}

.app-logo img{
    float: left;
    width: 250px;
    height: 70px;;
}

.app-foto img{
    float: right;
    width: 50px;
    height: 50px;
}

.pencil img{
    float: right;
    width: 50px;
    height: 50px;
}

.panah img{
    float: right;
    width: 10px;
    height: 10px;
}

h3{
    font-weight: bold !important;
    font-size: 4rem !important;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #3e4243;
    display: block;
    margin-left: 0;
    font-weight: bold;  
}
  
.sidenav a:hover, .sidenav a:active {
    color: #ffffff;
    background-color: #ff7b4b;
}
  
.main {
    background-color: #f9f9f9;
    margin-left: 250px;
    padding: 30px;
    margin-top: 70px;
    height: 1500px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
.navbar {
      margin-left: 250px;
      overflow: hidden;
      background-color: #ff7b4b;
      height: 70px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 98;
      padding-left: 30px;
}
    
.company-name {      
      color: #ffffff;
}

.admin-name {      
    color: #ffffff;
    float: right;
}