@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'verdana';
    src: url("../assets/fonts/verdana.ttf") format("truetype");
}

html {
    height: 100vh;
    font-size: 17px;
}
@media (max-width: 900px) {
    html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 13px; }
}

$majorColor : #ffffff;
$minorColor: #ff9a76;
$accentColor: #3e4243;

$border-radius: .5rem;
$enable-shadows: true;

$headings-font-family: Montserrat;
$input-btn-font-family: Montserrat;
$font-family-base: Roboto;
$enable-responsive-font-sizes: true;


$primary:       $minorColor ;
$secondary:     $accentColor ;
$gray-900: $accentColor;

$yiq-contrasted-threshold: 200;