.wrapper{
    .button-sidebar{
        display: none;
    }

    .button-text{
        font-weight: 600 !important;
    }

    .page-wrapper{
        min-width: 0;
        width: 100%;
    }

    .sidebar-wrapper{
        background-color: white !important;
        min-height: 100vh;
        width: 28rem;
        height: 100%;  
    }

    .dropdown-menu{
        min-width: 8rem !important;
    }

    .item-group{
        font-size: 2rem;
        font-weight: 600;
    }

    .navbar-font{
        font-size: 2rem;
        font-weight: 600;
    }

    @media only screen and (max-width: 1024px){
        .sidebar-wrapper{
            background-color: white !important;

            -webkit-transition: margin .25s ease-out;
            -moz-transition: margin .25s ease-out;
            -o-transition: margin .25s ease-out;
            transition: margin .25s ease-out;
            width: 20rem;
            position: fixed; 
            z-index: 1; 
            top: 0; 
            left: 0;
            overflow-x: hidden;
        }

        .button-sidebar{
            display: inline;
        }

        .hidden{
            margin-left: -20rem;
        }
    
        .showed{
            margin-left: 0rem;
        }
    }
}