tbody{
    background-color: white;
}

.table{
    border-collapse: separate;
    border-spacing: 0px 10px;
    border-radius: 20px;
}

.detail-option{
    border-bottom: 0.3rem solid #ff7b4b;
}
.disabled{
    opacity: 50%;
    border: none;
}