.history-page{
    .content-header{
        height: 3rem;
        @media only screen and (max-width: 500px){
            height: 5rem;
        }
    }

    .pagination{
        a{
            color: #3e4243;
            border-radius: 0 !important;
            border: none;
        }
    }
}